<aside class="sidebar">
  <div class="sidebar-title">
    Sistemas
  </div>

  @for (application of applications; track application.id) {
    <div class="application">

      <div class="application-title">
        {{ application.title }}
      </div>

      @for (item of application.menus; track item.id) {

        @if (!item.children?.length) {
          <button
            type="button"
            class="menu-item"
            (click)="openMenuItem(item)">
            {{ item.title }}
          </button>
        }

        @if (item.children?.length) {
          <div class="menu-group">

            <div class="menu-group-title">
              {{ item.title }}
            </div>

            @for (child of item.children; track child.id) {
              <button
                type="button"
                class="menu-item menu-item-child"
                (click)="openMenuItem(child)">
                {{ child.title }}
              </button>
            }

          </div>
        }

      }

    </div>
  }
</aside>