<aside class="sidebar">

  @if (application) {

  <h2 class="sidebar-title">
    {{ application.title }}
  </h2>

  <ng-container [ngTemplateOutlet]="menuItems" [ngTemplateOutletContext]="{
        $implicit: application.menus
      }" />

  }

</aside>

<ng-template #menuItems let-items>

  @for (item of items; track item.id) {

  <div class="menu-group">

    <button type="button" class="menu-item" (click)="toggleItem(item)">
      <span class="menu-item-title">
        {{ item.title }}
      </span>

      @if (item.children?.length) {
      <span class="menu-toggle">
        {{ isExpanded(item) ? '▾' : '▸' }}
      </span>
      }
    </button>

    @if (
    item.children?.length &&
    isExpanded(item)
    ) {

    <div class="submenu">

      <ng-container [ngTemplateOutlet]="menuItems" [ngTemplateOutletContext]="{
              $implicit: item.children
            }" />

    </div>

    }

  </div>

  }

</ng-template>